In [123]:
import psycopg2
import pandas as pd
import sqlalchemy
from sqlalchemy import create_engine
import json
import pyodbc

with open('user_address.json') as data_file:    
    d = json.load(data_file)
    
conn=psycopg2.connect(
        host = "localhost",
        user = "postgres",
        password = "secret123",
        database = "shipping_orders",
        port = "5432")

cur=conn.cursor() 

def create_table():
   
   cur.execute(
        """CREATE TABLE IF NOT EXISTS user_address_2018_snapshots (first_name varchar(256),
                                                                    last_name varchar(256),
                                                                    email varchar(256),
                                                                    address varchar(256),
                                                                    created_at timestamp)"""
    )
   conn.commit() 
   conn.close()

In [14]:
create_table()

In [75]:
header_list = ["first name", "last name", "email", "address", "created at"]
df=pd.read_csv('dataset-small.csv', names=header_list)

In [77]:
df['created at'] = pd.to_datetime(df['created at'], format='%Y-%m-%dT%H:%M:%S')

In [79]:
df=df[(df['created at'] >= '2018-02-01 00:00:00.000000+00:00') & (df['created at'] <= '2018-12-31 00:00:00.000000+00:00')]
df

,first name,last name,email,address,created at
0,Cawuk,Tarihoran,sabriaryani@perum.edu,"Jalan Jakarta No. 7Semarang, Nusa Tenggara Ti...",2018-08-10 20:48:35.506000+00:00
1,Darmaji,Januar,jwahyudin@yahoo.com,"Gang Soekarno Hatta No. 27Payakumbuh, Maluku U...",2018-06-17 19:31:04.314000+00:00
2,Bahuraksa,Mansur,zulfaharyanti@pd.sch.id,"Jl. Raya Ujungberung No. 2Palembang, Maluku Ut...",2018-10-28 11:20:50.360000+00:00
3,Among,Simanjuntak,kusuma67@perum.id,"Jalan Cikutra Timur No. 03Tanjungpinang, Papua...",2018-10-26 00:47:32.831000+00:00
4,Calista,Najmudin,gastiutama@gmail.com,Jalan Asia Afrika No. 589Kota Administrasi Jak...,2018-12-14 17:09:49.514000+00:00
...,...,...,...,...,...
95,Mala,Anggraini,victoria00@gmail.com,"Jl. BKR No. 362Palangkaraya, Kepulauan Bangka ...",2018-05-25 19:22:51.351000+00:00
96,Praba,Andriani,sadriansyah@ud.com,"Jalan Laswi No. 189Tangerang Selatan, DKI 64163",2018-08-27 21:07:22.938000+00:00
97,Yuni,Yuniar,qhartati@pt.go.id,"Jl. Pasteur No. 761Pariaman, Riau 45487",2018-10-15 03:14:46.280000+00:00
98,Garan,Wacana,olga89@hotmail.com,"Gg. Veteran No. 78Dumai, Nusa Tenggara Timur 1...",2018-10-05 00:13:48.300000+00:00
99,Nadia,Maheswara,jaya82@hotmail.com,Lorong Raya Ujungberung No. 441Padang Sidempua...,2018-11-11 06:56:12.581000+00:00

In [80]:
df=df.sort_values(by=["created at"], ascending=True)
df

,first name,last name,email,address,created at
82,Victoria,Nababan,thamrinprayoga@pd.ac.id,"Gg. W.R. Supratman No. 62Padang Sidempuan, Kal...",2018-02-03 17:10:31.945000+00:00
64,Cengkal,Mansur,ssihotang@gmail.com,"Jalan Moch. Toha No. 82Palangkaraya, Papua 32326",2018-02-10 08:12:04.705000+00:00
60,Oman,Pudjiastuti,qagustina@gmail.com,"Jl. Raya Ujungberung No. 8Bandung, Kalsel 85743",2018-02-10 15:21:18.189000+00:00
81,Lasmono,Prayoga,pradanafitria@hotmail.com,"Jalan Peta No. 9Semarang, Nusa Tenggara Barat ...",2018-02-18 00:28:10.734000+00:00
35,Liman,Aryani,sabarsafitri@hotmail.com,"Lr. Gedebage Selatan No. 20Pangkalpinang, NTT ...",2018-02-22 19:14:40.137000+00:00
...,...,...,...,...,...
76,Lalita,Winarno,mardhiyahumaya@yahoo.com,"Gg. Lembong No. 7Sorong, DIY 64244",2018-12-11 05:32:26.524000+00:00
4,Calista,Najmudin,gastiutama@gmail.com,Jalan Asia Afrika No. 589Kota Administrasi Jak...,2018-12-14 17:09:49.514000+00:00
6,Paramita,Widodo,pranowohadi@gmail.com,"Gang Abdul Muis No. 2Serang, Sumsel 95938",2018-12-17 04:48:40.470000+00:00
13,Cakrajiya,Puspita,johan43@cv.co.id,"Lorong Laswi No. 337Sawahlunto, Sumut 17055",2018-12-20 07:38:23.410000+00:00
16,Agus,Hassanah,pbudiyanto@yahoo.com,"Gang Cihampelas No. 19Banjarmasin, Aceh 99879",2018-12-23 02:30:49.313000+00:00

In [81]:
df.to_csv('filterdata.csv', header=df.columns, index=False, encoding='utf-8')
my_file=open('filterdata.csv')

In [86]:
conn=psycopg2.connect(
        host = "localhost",
        user = "postgres",
        password = "secret123",
        database = "shipping_orders",
        port = "5432")

In [87]:
def send_csv_to_psql(connection,csv,table_):
    sql = "COPY %s FROM STDIN WITH CSV HEADER DELIMITER AS ','"
    file = open(csv, "r")
    table = table_
    with connection.cursor() as cur:
        cur.execute("truncate " + table + ";")  #avoiding uploading duplicate data!
        cur.copy_expert(sql=sql % table, file=file)
        conn.commit()
#         cur.close()
#         conn.close()
    return conn.commit()

send_csv_to_psql(conn,'filterdata.csv','user_address_2018_snapshots')

In [125]:
a="user_address_2018_snapshots"

In [153]:
sql_="SELECT COUNT (*) FROM user_address_2018_snapshots"
b=cur.execute(sql_)
b=cur.fetchone()
sql_2="SELECT MAX(created_at) FROM user_address_2018_snapshots"
c=cur.execute(sql_2)
c=cur.fetchone()

In [154]:
print("job is finish. table '{}' has {} rows and last created_at is {}".format(a, b, c))

job is finish. table 'user_address_2018_snapshots' has (89,) rows and last created_at is (datetime.datetime(2018, 12, 23, 2, 30, 49, 313000),)